@import "tailwindcss";
@import "tw-animate-css";
@import "./text-animations.css";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-manrope: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --font-comfortaa: var(--font-comfortaa), ui-sans-serif, system-ui, sans-serif;
  --font-jakarta: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #0B1121;
  color: #F8FAFC;
}
